@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700|Lato|Raleway:400,600,700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

body {
  font-family: sans-serif;
  line-height: 1.7;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.primary {
  color: #ffffff;
  font-family: Arvo;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 5.4rem;
  text-align: center;
}

.secondary {
  color: #202242;
  font-family: Raleway;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.tertiary {
  text-align: center;
  color: #202242;
  font-family: Raleway;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.6rem;

  &--light {
    color: #ffffff;
  }
}