select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  background-image: url(../../img/arrow-down.png);   /* add custom arrow */
  background-repeat: no-repeat;
  background-position: 85% 50%;
}