.about {
  display: flex;

  @include media(medium) {
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70rem;
    padding: 5rem;
    width: 50%;

    @include media(medium) {
      width: 100%;
    }
    
    &--webhost {
      background-color: #202242;
    }

    &--domain {
      background-color: #ffe13e
    }
  }


  &__img {
    width: 17rem;
    height: 17rem;
    color: #202242;
    font-family: Raleway;
    font-size: 13.4rem;
    font-weight: 700;
  }
  
  &__title {
    text-align: center;
    color: #ffffff;
    font-family: Raleway;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.4rem;
  }

  &__desc {
    max-width: 41.4rem;
    text-align: center;
    color: #ffffff;
    font-family: Raleway;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &__btn {
    padding: 2rem 6rem;
    color: #ffffff;
    font-family: Raleway;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    border: 3px solid #ffffff;
    background-color: transparent;
    width: fit-content;
    cursor: pointer;
    transition: .3s;

    &:hover {
      background-color: #ffe13e;
    }

    &--second {

      &:hover {
        background-color: #202242;
      }
    }
  }
}

.align-self-right {
  width: 29.5rem;
}