.comments {
  position: relative;
  max-width: 37.2rem;
  background-color: rgba(245, 243, 243,.5);
  padding: 3rem 3rem 6.5rem 2rem;
  margin: 3rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;

  &__text {

    width: 32rem;
    color: #a4a4a4;
    font-family: Arvo;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 2.4rem;
  }

  &__nick {
    color: #696969;
    font-family: Raleway;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  &__img {
    position: absolute;
    top: 180px;
    right: 20px;
  }
}

.comments-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}