.contact-header {
  max-width: 41rem;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #ebebeb;
  align-items: center;
  padding: 3rem 5rem;

  &__desc {
    margin-bottom: 1rem;
    color: #202242;
    font-family: "Raleway";
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    flex: 1 1 100%;
  }

  &__btn {
    margin-right: 2rem; 
    width: 12.2rem;
    height: 4.1rem;
    background-color: #ffe13e;
    color: #202242;
    font-family: "Raleway";
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    border: 0px;
  }
  

  &__number {
    padding: 1rem 2rem;
    color: #202242;
    font-family: Lato;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    border-left: 1px solid rgba(32, 34, 66, .2);
  }
}