.header {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include media(medium) {
    justify-content: space-between;
  }
}

